name: build

on:
  workflow_dispatch:

# This ensures that jobs get canceled when force-pushing
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# The default Debian shell (dash) is faster than bash at running scripts,
# and using bash when it is not needed doesn't make sense.
defaults:
  run:
    shell: sh

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - appimage_arch: i686
          runner: ubuntu-24.04
        - appimage_arch: x86_64
          runner: ubuntu-24.04
        - appimage_arch: armhf
          runner: ubuntu-24.04-arm
        - appimage_arch: aarch64
          runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}

    outputs:
      git_hash: ${{ steps.get-git-hash.outputs.git_hash }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Get git hash
      id: get-git-hash
      run: |
           git_hash="$(git rev-parse --short HEAD)"
           echo -n "https://github.com/${GITHUB_REPOSITORY}/commit/" > src/runtime/version
           echo "${git_hash}" >> src/runtime/version
           echo "git_hash=${git_hash}" >> "$GITHUB_OUTPUT"

    - name: Build
      env:
        ARCH: ${{ matrix.appimage_arch }}
      run: |
          # make sure to collect artifacts in a separate directory
          # makes uploading easier
          mkdir -p out
          (cd out && ../scripts/docker/build-with-docker.sh)

    - uses: actions/upload-artifact@v5
      with:
        name: artifacts ${{ matrix.appimage_arch }}
        path: out/*

  upload:
    name: Create release and upload artifacts
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
      - name: Create release and upload artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_HASH: ${{ needs.build.outputs.git_hash }}
        run: |
            notes="Build log: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            find artifacts*/* -type f ! -name '*.debug' \
              -exec gh release create "${GIT_HASH}" --repo "${{ github.repository }}" --notes "${notes}" {} +
